

/*.     #top-header  (18)   */
#top-header .text-secondary small, select {
	letter-spacing: .75px;
	font-family: 'Open Sans', sans-serif;
}

#top-header .top-left a {
	text-decoration: none;
}

#top-header .top-left a:hover {
	color: #00e8d3!important;
}

/*.      Navbar   (57)     */  

#nav-bar a {
	letter-spacing: .75px;
	font-family: 'Open Sans', sans-serif;
	color: #00e8d3;
	transition: color .25s;
}

#nav-bar a:hover {
	color: #6c757d;
}













/*Media Querries*/

/*For media less than 930px*/
@media only screen and (max-width: 930px) {
	#top-header {
		display: none;
	}
}


@media only screen and (max-width: 844px) {
	#collapsibleNavbar .nav .nav-item {
		display: block!important;
		width: 100%;
	}

	#collapsibleNavbar {
		text-align: center;
	}
}













