

/*.     #top-header  (18)   */
#top-header .text-secondary small, select {
	letter-spacing: .75px;
	font-family: 'Open Sans', sans-serif;
}















/*Media Querries*/

/*For media less than 811px*/
@media only screen and (max-width: 811px) {
	#top-header {
		display: none;
	}
}